@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    background-color:	#101010;
    font-family:"Outfit", sans-serif ;
    margin: 0;
    padding: 0;
}
:root {
    --glow-color: hsl(186 100% 69%);
  }

.container{
    width: 90%;
    max-width:900px;
    margin-right : auto;
    margin-left: auto;
}
.border{
     border: 1px solid white;
}
.nav-bar{
height: 60px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
/* position:fixed; */
/* top: 0;
left:50px;
right: 50px;
z-index: 1; */
}
.logo{
    color: lightgreen;
    font-size: 22px;
}
.nav-links ul{
    display: flex;
    gap: 35px;
    list-style-type: none;
    font-size: 18px;
}

.nav-links li{
    display: flex;
    /* border: white solid 1px; */
    color: aliceblue;
    border-bottom: lightgreen 1px solid;
}
.nav-links li a{
    text-decoration: none;
    color: white;
}
.nav-links li ,.nav-links li a{
    transition: 0.1s ease-in;
}
 .about-link:hover , .about-link a:hover{
    box-shadow:  0 0 12px 10px #ef8738;
    background-color:#ff913d;
    color: rgb(255, 248, 248);
    border-radius: 7px 7px 7px 7px;
    backdrop-filter: blur(10px);
 }

 .skills-link:hover , .skills-link a:hover{
    box-shadow: 0 0 12px 10px #49c92a;
    background-color:#49c92a;
    color: rgb(255, 248, 248);
    border-radius: 7px 7px 7px 7px;
    backdrop-filter: blur(10px);
 }
 .contact-link:hover , .contact-link a:hover{
    box-shadow: 0 0 12px 10px #20a0ce;
     background-color:#20a0ce;
     color: rgb(255, 248, 248);
     border-radius: 7px 7px 7px 7px;
    backdrop-filter: blur(10px);
 }
 .projects-link:hover , .projects-link a:hover{
    box-shadow: 0 0 12px 10px #9a3fea;
     background-color:#9a3fea;
     color: rgb(255, 248, 248);
     border-radius: 7px 7px 7px 7px;
    backdrop-filter: blur(10px);
 }
.about-section{
    height:calc(105vh - 60px);
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    color: white;
}
.about-profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-pic-square{
    width: 280px;
    height: 280px;
}
@keyframes profile-border {
    0% {box-shadow: 0 0 15px 10px #67bede;}
  25%  {box-shadow: 0 0 15px 10px #72f052;}
  50%  {box-shadow: 0 0 15px 10px #dbef41;}
  75%  {box-shadow: 0 0 15px 10px #ef8738;}
  100% {box-shadow: 0 0 15px 10px #67bede;}
}
.profile-pic-square img{
    width: inherit;
    height: inherit;
    border-radius: 50%;
    animation-name: profile-border;
    animation-duration:8s,2s;
    animation-iteration-count: infinite;
}

/* skill Section */
.skill-section{
    height:calc(105vh - 60px);
}
.skill-heading , .project-heading{
    display: flex;
    color:white;
    justify-content: space-between;
    padding-top: 20px;
}
.skill-heading h1{
    font-size: 36px;
    color: #5bca3f;
}
.btn{
    border: none;
    background-color: transparent;
    color: lightblue;
    border-bottom: 1px solid #49c92a;
}
.skills-grid , .projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.skills-grid article,.projects-grid article{
    display: flex;
    flex-direction:column;
    padding: 25px;
    align-items: center;
    justify-content:center;
    gap: 10px;
}
.skills-grid article span ,.projects-grid article span{
    color: white;
}

/* project section */
.project-heading button{
    text-decoration: none;
    word-spacing: 5px;
}
.project-heading h1{
      font-size: 36px;
      color: #a055e2;
}
.projects-grid article img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.skills-icon-span{
    display: flex;
}
.skills-icon-span object{
    height: 50px;
    width: 50px;
    filter: grayscale(1);
    z-index:0;
    margin-right: 5px;
}
.contact-section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
}
.contact-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top:90px; */
}
.contact-part p{
    line-height: 1.4;
    color: white;
    font-size: 19px;
    padding:20px;
}
.social-icon{
    display: flex;
    flex-direction:row;
    width: 100%;
    align-items:center;
    justify-content: space-around;
    margin-top: 20px;

}
.social-icon a,img{
    text-decoration: none;
}
.contact form input,textarea{
    display: block;
    width: 100%;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom:15px;
    margin-top: 5px;
    resize: none;
    border-radius: 10px;
}
.contact label{
    margin-bottom: 4px;
    color: white;
}
.contact button{
    position: relative;
    left:45%;
    border-radius: 8px;
    color: white;
    border: 0;
    font-size: 16px;
    transition: box-shadow 0.5s ,background-color 0.5s;
}
.contact-part span h1{
    font-size: 36px;
    color:#20a0ce;
}

@media(width<=452px){
    .logo{
        font-size: 18px;
    }
    ul li{
        font-size: 14px;
    }
    .about-section{
        grid-template-columns: 1fr;
    }
    .about-content{
        font-size: 24px;
    }
    .about-content h1{
        font-size: 28px;
    }
    .about-profile-pic{
        align-items: first baseline;
    }
    .profile-pic-square{
        width: 200px;
        height: 200px;
    }
    .skill-heading , .project-heading{
        margin-bottom: 20px;
    }
    .skill-heading h1 ,.project-heading h1{
        font-size: 24px;
    }
    .btn{
        font-size:10px;
    }
    .skills-grid{
    grid-template-columns: 1fr 1fr;
}
   .skills-grid article object{
    width: 70px;
    height: 70px;
   }
   .skills-grid article span ,.projects-grid article span{
    font-size: 12px;
   }
   .projects-grid{
    grid-template-columns: 1fr;
   }
   .projects-grid article img{
    width: 150px;
    height: 180px;
    }
    .skills-icon-span object{
        filter: grayscale(0);
    }
    .contact-section{
        margin-top: 30px;
        grid-template-columns: 1fr;
    }
    .contact-part span h1 {
      font-size: 22px;
    }
    .contact-part p{
        font-size: 16px;
        text-align: center;
    }
    .social-icon a img{
        height: 35px;
        width: 35px;
    }
    .contact{
        padding: 15px;
    }
    .contact form input{
        width: 280px;
        height: 20px;
    }
    .contact form textarea{
        width: 280px;
    }
}
